// bower:scss
// endbower
$teal: #00A5C9;
$icon-size: 30px;

figcaption, .caption {
  font-style: italic;
  color: #333333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.carousel {
  overflow: hidden;
}

.carousel, .carousel .slide {
  height: 500px;
}
  .slide {
    background-position: center center;
    background-attachment: scroll;
    background-size: 100% auto;
  }

  .hero-text {
    font-size: 400%;
    font-weight: bolder;
    margin-bottom: 1em;
  }

  .slide-background {
    background-color: $teal;
    padding: 0.5em;
    margin-bottom: 2.5em;
  }

  .hover-hide {
    transition: all 0.5s ease;
    opacity: 0.9
  }
  .hover-hide:hover {
    opacity: 0.2;
  }

.navbar {
  margin-bottom: 0px;
}
  .navbar-static-bottom {
    bottom: 0;
    margin-top: 1em;
  }

.capitalize {
  text-transform: capitalize;
}

.language-tags {
  background-color: $teal;
  margin-right: 0.5em;
}
  .language-tags::before {
    content: "#"
  }

@mixin icon-sizes($factor: 1) {
  background-size:  (6 * $icon-size) * $factor;
  width:  $icon-size * $factor;
  height: $icon-size * $factor;
  margin-top: -($icon-size * $factor) * 0.5;
  margin-bottom: -($icon-size * $factor) * 0.30;
}

  i.icon-menu, i.icon-user, i.icon-document, i.icon-console, i.icon-graph, i.icon-record, i.icon-tam, i.icon-links,
  i.icon-vargas-logo, i.icon-email, i.icon-phone, i.icon-git, i.icon-stack, i.icon-linked, i.icon-behance, i.icon-camera {
    background-image: url( '/images/vargas-icons.png' );
    background-repeat: no-repeat;
    display: inline-block;
    @include icon-sizes();
  }

  $logo-factor: 1.25;
  i.icon-vargas-logo.brand-logo {
    @include icon-sizes($logo-factor);
    background-position: -2 * ($icon-size * $logo-factor)  -1 * ($icon-size * $logo-factor);
  }

  i.icon-menu         { background-position:  0 * $icon-size   0 * $icon-size; }
  i.icon-record       { background-position: -1 * $icon-size   0 * $icon-size; }
  i.icon-user         { background-position: -2 * $icon-size   0 * $icon-size; }
  i.icon-document     { background-position: -3 * $icon-size   0 * $icon-size; }
  i.icon-console      { background-position: -4 * $icon-size   0 * $icon-size; }
  i.icon-graph        { background-position: -5 * $icon-size   0 * $icon-size; }
  i.icon-tam          { background-position:  0 * $icon-size  -1 * $icon-size; }
  i.icon-links        { background-position: -1 * $icon-size  -1 * $icon-size; }
  i.icon-vargas-logo  { background-position: -2 * $icon-size  -1 * $icon-size; }
  i.icon-email        { background-position: -3 * $icon-size  -1 * $icon-size; }
  i.icon-phone        { background-position: -4 * $icon-size  -1 * $icon-size; }
  i.icon-git          { background-position: -5 * $icon-size  -1 * $icon-size; }
  i.icon-stack        { background-position:  0 * $icon-size  -2 * $icon-size; }
  i.icon-linked       { background-position: -1 * $icon-size  -2 * $icon-size; }
  i.icon-behance      { background-position: -2 * $icon-size  -2 * $icon-size; }
  i.icon-camera       { background-position: -3 * $icon-size  -2 * $icon-size; }

//
// body {
//   padding: 0;
// }
//
// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-left: 15px;
//   padding-right: 15px;
// }
//
// /* Custom page header */
// .header {
//   border-bottom: 1px solid #e5e5e5;
//   margin-bottom: 10px;
//
//   /* Make the masthead heading the same height as the navigation */
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }
// }
//
// /* Custom page footer */
// .footer {
//   padding-top: 19px;
//   color: #777;
//   border-top: 1px solid #e5e5e5;
// }
//
// .container-narrow > hr {
//   margin: 30px 0;
// }
//
// /* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;
//
//   .btn {
//     font-size: 21px;
//     padding: 14px 24px;
//   }
// }
//
// /* Supporting marketing content */
// .marketing {
//   margin: 40px 0;
//
//   p + h4 {
//     margin-top: 28px;
//   }
// }
//
// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
//
//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
