extends toolbox

block content
   section
      div.banner
         h2 Testimonial
         blockquote Patrick has proven himself as a versatile developer that can change technology and gears quickly. We've asked a lot of Patrick and despite sending him in many directions, he keeps up and consistently delivers exactly what is needed. We've asked Patrick to use pipes to bolster our multiprocess test infrastructure, to learn/use Perl to automate our performance guided optimization process, and to create an internal website (using Grails and Google maps) to demo/test our US geocoding engine. In all cases, Patrick thinks carefully about his design and in particular, the user interface. Because Patrick has high standards for his work, he aggressively pursues top-shelf solutions that he is proud to put his name on - a great quality.
         cite: a(href="http://www.linkedin.com/pub/patrick-vargas/40/953/893", target="_blank", rel="nofollow" ) K. Tatterson, Principal Software Engineer, Pitney Bowes Software   

         blockquote Web development experience beyond his age. Great communication with supervisor. Fantastic follow through with assigned tasks. Energy for topic is obvious when working on all assigned projects. Easy to work with, and others could learn from his internal customer service skills. Patrick learns fast, and would be a great addition to any team. Don't miss this opportunity to hire one of the next best.
         cite E. Butcher, Web Administrator, CU Book Store


   section
      div.banner
         img(src="http://placehold.it/200&text=Me+Being+Awesome")

   section
      div.banner
         h2 Personal Statement
         h3 Passionate
         p As a software engineer, I enjoy programming robust programs that help people. The University of Colorado Boulder, as well as my internship with Pitney Bowes Software, fully prepared me to take on the task of creating object-oriented software in an agile development environment. My leadership and involvement experience help to bring this diverse background to the forefront of whatever task is at hand.
         h3 Holistic
         p As a generalist, my multiple passions lead me to exciting areas of computer science and artistic expression. Minoring in both Technology, Arts and Media and Atmospheric and Oceanic Science enables me to bring a diverse background to any job. In my free time, as well as side careers, I work as a full stack developer, from Node.js and the LAMP stack, to jquery and css3. I love to learn new languages and new technologies. This drives my passion for software engineering and, with the polyglot skills I've picked up during my time at CU, I feel very confident to learn whatever new technology comes my way.
         h3 Enthusiastic
         p Software engineering is my calling and I share my enthusiasm with those around me. I keep up on current and potential trends through daily reading, and am excited for our future. Technology is definitely a great industry to work in as it can help people in every aspect of their lives.
   
   section
      div.banner
         h2 Around The Web
         p Single-origin coffee kale chips tousled irony cornhole. Before they sold out wayfarers hella, try-hard chambray craft beer gastropub keytar mixtape keffiyeh Portland irony 3 wolf moon Pinterest you probably haven't heard of them. Godard selvage keffiyeh beard distillery. Before they sold out Blue Bottle authentic 90's food truck meh. Next level hella keytar American Apparel freegan. Food truck Intelligentsia meh, ugh craft beer deep v chambray letterpress Portland pour-over Banksy sriracha. Fanny pack gluten-free flannel, bicycle rights scenester High Life PBR&B freegan cardigan drinking vinegar mustache four loko.
         h3 CU Independent
         p Tilde keytar mixtape Thundercats. Sartorial selfies polaroid, dreamcatcher mlkshk raw denim Wes Anderson typewriter Banksy lo-fi food truck farm-to-table you probably haven't heard of them kogi. Dreamcatcher fingerstache PBR fashion axe, roof party Pinterest craft beer squid. Chambray Williamsburg umami Bushwick, Carles roof party small batch. 3 wolf moon selvage messenger bag, PBR&B American Apparel single-origin coffee keytar retro twee ennui ugh street art Vice flannel. Pickled DIY skateboard, synth letterpress polaroid aesthetic PBR freegan church-key art party viral scenester you probably haven't heard of them. Raw denim swag Tonx 90's, Helvetica tousled Marfa sriracha.
         h3 The Verge Article
         p American Apparel Kickstarter skateboard direct trade Banksy, crucifix drinking vinegar polaroid chambray small batch literally next level chia deep v. Normcore narwhal hashtag Pitchfork yr typewriter, retro fashion axe Wes Anderson four loko viral art party before they sold out aesthetic forage. Helvetica McSweeney's selvage, dreamcatcher tattooed craft beer disrupt seitan mustache ugh polaroid locavore sustainable. Banjo stumptown before they sold out, craft beer try-hard PBR&B literally 90's typewriter. 3 wolf moon chambray Neutra, fanny pack High Life Vice biodiesel ugh gentrify authentic. 3 wolf moon before they sold out High Life synth, lomo roof party vegan Tumblr mumblecore. Godard biodiesel skateboard, dreamcatcher direct trade irony Marfa DIY Bushwick.
         h3 AMA Lecture
         p High Life you probably haven't heard of them keytar single-origin coffee trust fund. Jean shorts dreamcatcher quinoa biodiesel viral. Selvage Banksy Thundercats, Tonx locavore forage ennui bitters mustache direct trade before they sold out hella farm-to-table selfies pop-up. Cornhole American Apparel Carles tattooed, slow-carb gentrify fanny pack meggings. Leggings swag Marfa, keytar yr irony vinyl letterpress tilde direct trade roof party Portland. Shoreditch pork belly Tumblr fingerstache bitters ennui, quinoa lomo organic artisan mlkshk +1. Lomo banjo street art single-origin coffee artisan normcore, asymmetrical Thundercats sartorial VHS chambray chillwave roof party distillery.
         img(src="http://placehold.it/350x250&text=Video+Clip")
