extends layout

block content
  section#home.slide(data-speed='8')
    header
      h1
        span.slabtext Patrick E
        span.slabtext Vargas
      h2
        span.slabtext UI/UX Designer &amp; Software Engineer &amp; Full Stack Developer
        //
           <ul>
            <li>UI/UX Designer</li>
            <li>Software Engineer</li>
            <li>Full Stack Developer</li>
          </ul>
            
    figcaption Petroglyphs
      br 
      | Utah
  a(name='resume')
  section#resume.slide(data-speed='8')
    a(href='resume')
      h2 Resume
      p How am I qualified? Just take a look at my resume and the courses I have taken.
    figcaption
      | Cash Register Building
      br
      | Denver, Colorado
  a(name='code')
  section#projects.slide(data-speed='8')
    a(href='code')
      h2 Code
      p
        | What have I programmed? With a Bachelors of Science in Computer Science and an emphasis in Software Engineering, I have programmed many applications.
    figcaption
      | Typewriter at Auction
      br
      | Boulder, Colorado
  a(name='design')
  section#design.slide(data-speed='8')
    a(href='design')
      h2 Design
      p
        | What can I design? One of my two minors is Technology, Arts and Media (TAM). Armed with the skills taught from the TAM program, I am slowly fine tuning my skills.
    figcaption
      | I See What You Mean
      br
      | Denver, Colorado
  a(name='music')
  section#music.slide(data-speed='8')
    a(href='music')
      h2 Music
      p
        | What have I composed? Starting my college career as a music composition major in the College of Music helped form the type of person I am today.
    figcaption
      | Graffiti on Building
      br
      | Montreal, Quebec
  a(name='links')
  section#links.slide(data-speed='8')
    section
      a#github(href='http://github.com/pevargas', target='_blank', rel='nofollow') Github
      a#linkedin(href='http://www.linkedin.com/pub/patrick-vargas/40/953/893', target='_blank', rel='nofollow') LinkedIn
      a#careers(href='http://careers.stackoverflow.com/vargasp', target='_blank', rel='nofollow') Careers 2.0
      a#contact(href='https://www.google.com/recaptcha/mailhide/d?k=01YyRI2wKXNvHUh53YqdwuOg==&c=M0JEvRUGKMLUofZkk_8qKn91PUgGqk7kn1dZj3KAUb8=', title='Reveal this e-mail address') Contact
      a#phone(href='tel:720-515-6402') Phone Number
      figcaption
        | Bridge
        br
        | Idaho