extends toolbox

block content
   .container
      h2 Photography
      p I'm an amateur shutterbug when it comes to photogrpahy. Recently, I learned how to use Adobe's Lightroom and fixed up some of my past photos.

