extends toolbox

block content
   .container
      h2 Photography
      p I'm an amateur shutterbug when it comes to photogrpahy. Recently, I learned how to use Adobe's Lightroom and fixed up some of my past photos.

      .row
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-1')
               img.thumbnail(src='/images/photography/thumbs/to-behance-1.jpg', alt='Victoria Island, British Columbia')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-2')
               img.thumbnail(src='/images/photography/thumbs/to-behance-2.jpg', alt='Vancouver, Biritsh Columbia')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-3')
               img.thumbnail(src='/images/photography/thumbs/to-behance-3.jpg', alt='Idaho')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-4')
               img.thumbnail(src='/images/photography/thumbs/to-behance-4.jpg', alt='Elitch Gardens, Denver, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-5')
               img.thumbnail(src='/images/photography/thumbs/to-behance-5.jpg', alt='Elitch Gardens, Denver, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-6')
               img.thumbnail(src='/images/photography/thumbs/to-behance-6.jpg', alt='Cash Register Building, Denver, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-7')
               img.thumbnail(src='/images/photography/thumbs/to-behance-7.jpg', alt='Manitou Springs, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-8')
               img.thumbnail(src='/images/photography/thumbs/to-behance-8.jpg', alt='YMCA of the Rockies, Estes Park, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-9')
               img.thumbnail(src='/images/photography/thumbs/to-behance-9.jpg', alt='YMCA of the Rockies, Estes Park, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-10')
               img.thumbnail(src='/images/photography/thumbs/to-behance-10.jpg', alt='Vermont')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-11')
               img.thumbnail(src='/images/photography/thumbs/to-behance-11.jpg', alt='Lake Champlain, Vermont')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-12')
               img.thumbnail(src='/images/photography/thumbs/to-behance-12.jpg', alt='Montréal, Québec')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-13')
               img.thumbnail(src='/images/photography/thumbs/to-behance-13.jpg', alt='Colorado National Monument, Grand Junction, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-14')
               img.thumbnail(src='/images/photography/thumbs/to-behance-14.jpg', alt='Moab, Utah')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-15')
               img.thumbnail(src='/images/photography/thumbs/to-behance-15.jpg', alt='I See What You Mean, Denver, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-16')
               img.thumbnail(src='/images/photography/thumbs/to-behance-16.jpg', alt='Kansas')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-17')
               img.thumbnail(src='/images/photography/thumbs/to-behance-17.jpg', alt='Flatirons, Boulder, Colorado')
         .col-md-2
            a(href="#", data-toggle='modal', data-target='#to-behance-18')
               img.thumbnail(src='/images/photography/thumbs/to-behance-18.jpg', alt='University of Colorado, Boulder, Colorado')

   // Modals
   #to-behance-1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-1')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Victoria Island, British Columbia
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-1.jpg', alt='Victoria Island, British Columbia')

   #to-behance-2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-2')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Vancouver, Biritsh Columbia
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-2.jpg', alt='Vancouver, Biritsh Columbia')

   #to-behance-3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-3')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Idaho
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-3.jpg', alt='Idaho')

   #to-behance-4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-4')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Elitch Gardens, Denver, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-4.jpg', alt='Elitch Gardens, Denver, Colorado')

   #to-behance-5.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-5')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Elitch Gardens, Denver, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-5.jpg', alt='Elitch Gardens, Denver, Colorado')

   #to-behance-6.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-6')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Cash Register Building, Denver, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-6.jpg', alt='Cash Register Building, Denver, Colorado')

   #to-behance-7.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-7')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Manitou Springs, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-7.jpg', alt='Manitou Springs, Colorado')

   #to-behance-8.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-8')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title YMCA of the Rockies, Estes Park, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-8.jpg', alt='YMCA of the Rockies, Estes Park, Colorado')

   #to-behance-9.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-9')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title YMCA of the Rockies, Estes Park, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-9.jpg', alt='YMCA of the Rockies, Estes Park, Colorado')

   #to-behance-10.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-10')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Vermont
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-10.jpg', alt='Vermont')

   #to-behance-11.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-11')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Lake Champlain, Vermont
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-11.jpg', alt='Lake Champlain, Vermont')

   #to-behance-12.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-12')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Montréal, Québec
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-12.jpg', alt='Montréal, Québec')

   #to-behance-13.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-13')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Colorado National Monument, Grand Junction, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-13.jpg', alt='Colorado National Monument, Grand Junction, Colorado')

   #to-behance-14.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-14')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Moab, Utah
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-14.jpg', alt='Moab, Utah')

   #to-behance-15.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-15')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title I See What You Mean, Denver, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-15.jpg', alt='I See What You Mean, Denver, Colorado')

   #to-behance-16.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-16')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Kansas
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-16.jpg', alt='Kansas')

   #to-behance-17.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-17')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title Flatirons, Boulder, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-17.jpg', alt='Flatirons, Boulder, Colorado')

   #to-behance-18.modal.fade(tabindex='-1', role='dialog', aria-labelledby='to-behance-18')
      .modal-dialog.modal-lg(role='document')
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
               h4.modal-title University of Colorado, Boulder, Colorado
            .modal-body.row
               img.col-md-12(src='/images/photography/to-behance-18.jpg', alt='University of Colorado, Boulder, Colorado')

