extends toolbox

block content
   section.banner
      h2 Education
      h3 University of Colroado Boulder
      p Boulder, CO
      p Bachelor of Science, Computer Science, 3.35 GPA
      ul 
         li Atmospheric and Oceanic Science Minor
         li Technology, Arts and Media Minor (Graduated with Honors)
         li Dean's List, Spring 2014 and Spring 2013, College of Engineering and Applied Science
         li Dean's List, Spring 2011, College of Arts and Science

   section.banner
      h2 Skills
      h3 Programming Languages
      p C, C++, Java, Groovy, Processing, Perl, LaTeX

      h3 Internet Technologies
      p HTML5, Jade, CSS3, Less, Grails, JavaScript, Node.js, Express.js, MongoDB, Mongoose.js

      h3 Operating Systems
      p Apple [OSX], Linux [Ubuntu, Apache]

      h3 Tools and Utilities
      p GDB, SVN, Git, GitHub, Sublime, IntelliJ, Xcode, Google Maps API, 8Tracks API

      h3 Miscellaneous
      p Agile Software Development, Conversational French, Elementary Spanish, Interpersonal Skills

   section.banner
      h2 Projects
      h3 Queertionary 
      ul
         li: a(href="http://www.queerytionary.com/") www.queertionary.com
         li Jan 2014 – May 2014 
         li Technology, Arts & Media Senior Thesis Project
         li Created Node.js Application to study the use of Queer Jargon.
         li Utilized APIs, such as UrbanDictionary, Tumblr, Twitter, Wikipedia, and Instagram, to compare and contrast word usages.
      
      h3 GeoStan Application
      ul
         li Jan 2014 – Feb 2014
         li Implemented a GUI in the form of a Grails Application for GeoStan.
         li Utilized the Google-Maps API to display GeoStan output along side Google output.

      h3 JamWalkr
      ul
         li: a(href="http://jamwalkr.site11.com/") jamwalkr.site11.com
         li Nov 2012 – Dec 2012
         li Created a music tagging application using Last.fm API, 8Tracks API, and Google Maps API through LAMP and AJAX.
         li 2013 Mobile App Challenge 3rd Place Winner

   section.banner
      h2 Experience

      h3 Software Engineer, Pitney Bowes Software
      ul
         li Boulder, CO
         li June 2014 - present
         li Created a per-revision, performance-testing and reporting system for a high-profile project.

      h3 Software Engineering Intern, Pitney Bowes Software
      ul
         li Boulder, CO
         li May 2013 – May 2014
         li Improved performance of Geocoding software 10% by implementing Microsoft’s Profile-Guided Optimization.
         li Adapted the cppunit test-suite for Unix platforms, applying more thorough and rigorous software preparation.
         li Researched the impact of byte order swapping on Big Endian machines.
         li Automated script testing by creating an output parser employing pipes.
      h3 Freelance Web Developer, Running Creek Developers
      ul
         li Boulder, CO
         li Oct 2012 – Apr 2013
         li Styled client websites using knowledge of Twitter Bootstrap.
         li Enhanced user experience through Ruby on Rails and jQuery functionality.

      h3 Assistant Web Administrator, CU Book Store
      ul
         li Boulder, CO
         li Feb 2012 – Jan 2013
         li Increased credibility of site by styling webpages.
         li Validated site to W3C standards.
         li Improved online sales by adding 1300+ products to online store.
         li Provided customer service by managing records in database.

   section.banner
      h2 Involvements and Leadership
      ul 
         li Instrumental Music Fall 2012 – present
         li "Ask Me Anything" Volunteer Fall 2012 – Spring 2013
         li Active Member of Knitting Group Spring 2012 – Fall 2013
         li Vice President &amp; Secretary for Engineering Student Group Fall 2011 – Spring 2012
         li Secretary for Student Advisory Board to Student Resource Center Spring 2010 – Fall 2012
         li Volunteer for Student Resource Center Spring 2010 – Spring 2011
