doctype html
html(lang="en")
   head
      // Meta
      - var site = "Patrick E. Vargas"
      if ( title )
         title= title + " | " + site
      else
         title= site

      link(rel="shortcut icon", href="/images/favicon.ico")
      link(rel="stylesheet", href="/stylesheets/style.css")
   body
      // Header
      header
         div.banner
            h1: a(href="/") Patrick E. Vargas
      nav: menu.banner
         li: a(href="/about") About
         li: a(href="/resume") Resume
         li: a(href="#") Code
         li: a(href="/design") Design
         li: a(href="#") Photography
         li: a(href="/music") Music

      // Content
      article
         block content    

      footer
         div.banner
            ul.contact
               li &copy; #{new Date().getFullYear()} Patrick E. Vargas 
               li: a(href="http://www.vargascorpus.com/") www.vargascorpus.com
            ul.links
               li: i(title="Email")
                  img(src="http://placehold.it/100&text=Email") 
               li: i(title="Telephone")
                  img(src="http://placehold.it/100&text=Telephone") 
               li: i(title="LinkedIn")
                  img(src="http://placehold.it/100&text=LinkedIn") 
               li: i(title="StackOverflow")
                  img(src="http://placehold.it/100&text=StackOverflow") 
               li: i(title="GitHub")
                  img(src="http://placehold.it/100&text=GitHub") 
               li: i(title="Behance")
                  img(src="http://placehold.it/100&text=Behance") 
               
      block javascript