doctype html
html(lang="en")
   head
      // Meta
      title= title

      link(rel="shortcut icon", href="/images/favicon.ico")
      link(rel="stylesheet", href="/stylesheets/style.css")
   body
      // Header
      header
         div.banner
            h1= title
      nav: menu.banner
         li: a(href="/sandbox/about") About
         li: a(href="#") Resume
         li: a(href="#") Code
         li: a(href="#") Design
         li: a(href="#") Photography
         li: a(href="#") Music

      // Content
      article
         block content    

      footer
         div.banner
            ul.contact
               li &copy; #{new Date().getFullYear()} Patrick E. Vargas 
               li: a(href="http://www.vargascorpus.com/") www.vargascorpus.com
            ul.links
               li: i(title="Email")
                  img(src="http://placehold.it/100&text=Email") 
               li: i(title="Telephone")
                  img(src="http://placehold.it/100&text=Telephone") 
               li: i(title="LinkedIn")
                  img(src="http://placehold.it/100&text=LinkedIn") 
               li: i(title="StackOverflow")
                  img(src="http://placehold.it/100&text=StackOverflow") 
               li: i(title="GitHub")
                  img(src="http://placehold.it/100&text=GitHub") 
               li: i(title="Behance")
                  img(src="http://placehold.it/100&text=Behance") 
               
      block javascript