doctype html
html(lang="en")
   head
      // Meta
      - var site = "Patrick E. Vargas"
      if ( title )
         title= title + " | " + site
      else
         title= site

      link(rel="shortcut icon", href="/images/favicon.ico")
      link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet", href="/bootstrap/css/bootstrap-theme.min.css")
      link(rel="stylesheet", href="/stylesheets/vargas.css")
   body

      nav.navbar.navbar-default.navbar-static-top(role="navigation")
         .container
            a.navbar-brand(href='/') Patrick E. Vargas
            .navbar-header
               button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
            .navbar-collapse.collapse
               menu.nav.navbar-nav
                  li: a(href="/about") About
                  li: a(href="/resume") Resume
                  li: a(href="/code") Code
                  li: a(href="/design") Design
                  li: a(href="/photography") Photography
                  li: a(href="/music") Music

      article
         block content

      footer.navbar.navbar-default.navbar-static-bottom
         .container
            ul.nav.navbar-nav
               li.navbar-text &copy; #{new Date().getFullYear()} Patrick E. Vargas
               li: a(href="mailto:patrick@yesthisispatrick.com", alt="Email"): i.iemail 
               li: a(href="tel:720-515-6402", alt="Telephone"): i.iphone
               li: a(href="http://www.linkedin.com/pub/patrick-vargas/40/953/893", alt="LinkedIn"): i.linked
               li: a(href="http://careers.stackoverflow.com/vargasp", alt="StackOverflow"): i.istack
               li: a(href="http://github.com/pevargas", alt="GitHub"): i.igit
               li: a(href="https://www.behance.net/pevargas", alt="Behance"): i.ibehance

      block javascript

      //
         Bootstrap core JavaScript
         ==================================================
         Placed at the end of the document so the pages load faster
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
      script(src="/bootstrap/js/bootstrap.min.js")
