///////////////////////////////////////////////////////////////////////////////
// File: style.less                    October 2014
// Description:
//    Main style-sheet
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// Variables
@teal: #00A5C9;
@width: 1024px;
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
body
{
   padding: 0em;
   margin: 0em;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
   color: #00B7FF;
}

header
{
   background-color: @teal;
   color: white;
}
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.banner
{
   margin-left: auto;
   margin-right: auto;
   width: @width;
   padding: 1em;
}
   section:nth-child(even)
   {
      background-color: @teal;
      color: white;
   }
///////////////////////////////////////////////////////////////////////////////
