///////////////////////////////////////////////////////////////////////////////
// File: style.less                    October 2014
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
@teal: #00A5C9;
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
body
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
  color: #00B7FF;
}
///////////////////////////////////////////////////////////////////////////////
