doctype html
html(lang="en")
  head
    // Meta
    title= title
    link(rel="shortcut icon" href="/images/favicon.ico")
    link(rel="stylesheet", href="/stylesheets/flat.css")
    style.
      #crumbs { display: none; }
      #navbar menu li, #drawer-switch { cursor: pointer; }
      #navbar menu li:hover { background-color: #00A5C9; }
      #home     { background-image: url( '/images/vargasp-petroglyph-utah.jpg' ); }
      #resume   { background-image: url( '/images/vargasp-cash-register-building-denver.jpg' ); }
      #projects { background-image: url( '/images/vargas-typewriter-auction.jpg' ); }
      #design   { background-image: url( '/images/vargas-denver-i-see-what-you-mean-blue-bear.jpg' ); }
      #music    { background-image: url( '/images/vargas-montreal-graffiti.jpg' ); }
      #links    { background-image: url( '/images/vargasp-bridge-idaho.jpg' ); }
  
  body
    #container.container
      nav#drawer.menu.drawer
        h1
          a(href='/')
            span.slabtext Patrick E
            span.slabtext Vargas
        menu
          li: a(href='about'):  i.iuser About PEV
          li: a(href='resume'): i.idocument Resume
          li: a(href='code'):   i.iconsole Programming Projects
          li: a(href='design'): i.igraph Design Work
          li: a(href='music'):  i.irecord Music Portfolio
        i.ipvlogo
        // content push wrapper 
      .pusher
        .content
          // this is the wrapper for the content 
          #navbar
            a#drawer-switch.imenu Menu
            ul#crumbs
              li Patrick E. Vargas
            menu
              li#iuser.on(data-target='#home') About Patrick E. Vargas
              li#idocument(data-target='#resume') Resume
              li#iconsole(data-target='#projects') Programming Projects
              li#igraph(data-target='#design') Design Work
              li#irecord(data-target='#music') Music Portfolio
              li#ilinks(data-target='#links') Social Network

          article.content-inner
            // extra div for emulating position:fixed of the menu 
            block content

    // JS 
    // jQuery Library provided by Google 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js')
    script(src='/javascripts/jquery.slabtext.min.js')
    script(src='/javascripts/flat.js')
    script.
      $(function( ) {
      vargas.SidebarMenuEffects( );
      $( "h1" ).slabText();
      });
