<h2>Testimonial</h2>
<div class="media">
  <div class="media-left"><a href="http://www.linkedin.com/pub/patrick-vargas/40/953/893" target="_blank" rel="nofollow"><img src="/images/about/thumbs/pitney-bowes.jpg" alt="K. Tatterson" class="media-object"/></a></div>
  <div class="media-body">
    <h4 class="media-heading">K. Tatterson, Principal Software Engineer, Pitney Bowes Software</h4>
    <p>Patrick has proven himself as a versatile developer that can change technology and gears quickly. We've asked a lot of Patrick and despite sending him in many directions, he keeps up and consistently delivers exactly what is needed. We've asked Patrick to use pipes to bolster our multiprocess test infrastructure, to learn/use Perl to automate our performance guided optimization process, and to create an internal website (using Grails and Google maps) to demo/test our US geocoding engine. In all cases, Patrick thinks carefully about his design and in particular, the user interface. Because Patrick has high standards for his work, he aggressively pursues top-shelf solutions that he is proud to put his name on - a great quality.</p>
  </div>
</div>
<div class="media">
  <div class="media-left"><img src="/images/about/thumbs/cu-book-store.jpg" alt="E. Butcher" class="media-object"/></div>
  <div class="media-body">
    <h4 class="media-heading">E. Butcher, Web Administrator, CU Book Store</h4>
    <p>Web development experience beyond his age. Great communication with supervisor. Fantastic follow through with assigned tasks. Energy for topic is obvious when working on all assigned projects. Easy to work with, and others could learn from his internal customer service skills. Patrick learns fast, and would be a great addition to any team. Don't miss this opportunity to hire one of the next best.</p>
  </div>
</div>
<h2>Personal Statement</h2>
<div class="media">
  <div class="media-left"><img src="/images/about/thumbs/vargas-suit.jpg" alt="In my office" class="media-object" ng-click="openModal('vargas-suit.json')"/></div>
  <div class="media-body">
    <h4 class="media-heading">Passionate</h4>
    <p>As a software engineer, I enjoy programming robust programs that help people. The University of Colorado Boulder, as well as my internship with Pitney Bowes Software, fully prepared me to take on the task of creating object-oriented software in an agile development environment. My leadership and involvement experience help to bring this diverse background to the forefront of whatever task is at hand.</p>
  </div>
</div>

<div class="media">
  <div class="media-left"><img src="/images/about/thumbs/vargas-black-and-white.jpg" ng-click="openModal('vargas-black-and-white.json')" alt="Using my new web camera at work" class="media-object"/></div>
  <div class="media-body">
    <h4 class="media-heading">Holistic</h4>
    <p>As a generalist, my multiple passions lead me to exciting areas of computer science and artistic expression. Minoring in both Technology, Arts and Media and Atmospheric and Oceanic Science enables me to bring a diverse background to any job. In my free time, as well as side careers, I work as a full stack developer, from Node.js and the LAMP stack, to jquery and css3. I love to learn new languages and new technologies. This drives my passion for software engineering and, with the polyglot skills I've picked up during my time at CU, I feel very confident to learn whatever new technology comes my way.</p>
  </div>
</div>
<div class="media">
  <div class="media-left"><img src="/images/about/thumbs/vargas-fun.jpg" alt="Attending my mother's retirement party" class="media-object" ng-click="openModal('vargas-fun.json')"/></div>
  <div class="media-body">
    <h4 class="media-heading">Enthusiastic</h4>
    <p>Software engineering is my calling and I share my enthusiasm with those around me. I keep up on current and potential trends through daily reading, and am excited for our future. Technology is definitely a great industry to work in as it can help people in every aspect of their lives.</p>
  </div>
</div>
