<h2>Code</h2>
<h3>Intern work for Pitney Bowes Software</h3>
<p><span class="badge">grails</span><span class="badge">illustrator</span><span class="badge">groovy</span><span class="badge">java</span><span class="badge">ajax</span><span class="badge">google-maps</span></p>
<p>Implemented a GUI in the form of a Grails Application for Pitney Bowes' geocoder, GeoStan. Utilized the Google-Maps API to display GeoStan output along side Google output.
</p>
<div class="row">
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#grails-geostan-01-home"><img src="/images/code/thumbs/grails-geostan-01-home.png" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#grails-geostan-02-hampton"><img src="/images/code/thumbs/grails-geostan-02-hampton.png" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#grails-geostan-03-reverse"><img src="/images/code/thumbs/grails-geostan-03-reverse.png" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#grails-geostan-04-infobox"><img src="/images/code/thumbs/grails-geostan-04-infobox.png" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#grails-geostan-05-intersection"><img src="/images/code/thumbs/grails-geostan-05-intersection.png" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#grails-geostan-06-multimatch"><img src="/images/code/thumbs/grails-geostan-06-multimatch.png" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#grails-geostan-07-drop-pins"><img src="/images/code/thumbs/grails-geostan-07-drop-pins.png" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></a></div>
</div>
<h3>Class Work</h3>
<h4><a href="http://www.queertionary.com/" target="_blank" rel="nofollow">Queertionary</a></h4>
<p><span class="badge">node.js</span><span class="badge">express.js</span><span class="badge">mongodb</span><span class="badge">less</span><span class="badge">jade</span><span class="badge">javascript</span></p>
<p><b>Technology, Arts and Media Senior Thesis Project</b><br/>Created Rails Application to study the use of Queer Jargon. Utilized APIs, such as UrbanDictionary, Tumblr, Twitter, Wikipedia, and Instagram, to compare and contrast word uses.
  <!-- <span class="help">Click the image to enlarge and then click anywhere to diminish.</span>-->
</p>
<h4><a href="http://redwood.colorado.edu/vargasp/dm2/" target="_blank" rel="nofollow">Digital Media 2</a></h4>
<p><span class="badge">processing</span><span class="badge">java</span></p>
<p>This class entailed learning the IDE Processing. Based on Java, this language encapsulated the nitty-gritty of the Java programming language, yet allowed for Java objects to be utilized. In addition, this language's main purpose was for fast and easy construction of graphic application.<span class="help">Click the images to enlarge and find out more. Then click anywhere to diminish.</span></p>
<div class="row">
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#processing-portrait"><img src="/images/code/thumbs/processing-portrait.gif" alt="Gif of my Conceptual Self-Portrait" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#processing-generative-art"><img src="/images/code/thumbs/processing-generative-art.gif" alt="Gif of my Generative Art Project" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#processing-new-life-form"><img src="/images/code/thumbs/processing-new-life-form.gif" alt="Gif of an Animation" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#processing-video"><img src="/images/code/thumbs/processing-video.gif" alt="Gif of my Final Project, Acrylic Video" class="thumbnail"/></a></div>
</div>
<!-- Modals-->
<div id="grails-geostan-01-home" tabindex="-1" role="dialog" aria-labelledby="grails-geostan-01-home" class="modal fade"></div>
<div role="document" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">PB GeoStan &sect; Homepage</h4>
    </div>
    <div class="modal-body row"><img src="/images/code/grails-geostan-01-home.png" alt="PB GeoStan &amp;sect; Homepage" class="col-md-9"/>
      <div class="col-md-3">
        <p class="small">2014-01</p>
        <p>Created a grails application to showcase Pitney Bowes' geocoder, GeoStan.</p>
        <p>Here we see the homepage. Users can search for an address or point using the search bar.</p>
      </div>
    </div>
  </div>
</div>
<div id="grails-geostan-02-hampton" tabindex="-1" role="dialog" aria-labelledby="grails-geostan-02-hampton" class="modal fade"></div>
<div role="document" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">PB GeoStan &sect; Interpretation</h4>
    </div>
    <div class="modal-body row"><img src="/images/code/grails-geostan-02-hampton.png" alt="PB GeoStan &amp;sect; Interpretation" class="col-md-9"/>
      <div class="col-md-3">
        <p class="small">2014-01</p>
        <p>Created a grails application to showcase Pitney Bowes' geocoder, GeoStan.</p>
        <p>This location shows the results between Pitney Bowes' geocoder and Google's geocoder. Which result do you think is more correct based on what the user put in?</p>
      </div>
    </div>
  </div>
</div>
<div id="grails-geostan-03-reverse" tabindex="-1" role="dialog" aria-labelledby="grails-geostan-03-reverse" class="modal fade"></div>
<div role="document" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">PB GeoStan &sect; Reverse Geocoding</h4>
    </div>
    <div class="modal-body row"><img src="/images/code/grails-geostan-03-reverse.png" alt="PB GeoStan &amp;sect; Reverse Geocoding" class="col-md-9"/>
      <div class="col-md-3">
        <p class="small">2014-01</p>
        <p>Created a grails application to showcase Pitney Bowes' geocoder, GeoStan.</p>
        <p>The grails application has support for reverse geocoding. This means you can search for a latitude and longitude point and the geocoders will try an find the closest address.</p>
      </div>
    </div>
  </div>
</div>
<div id="grails-geostan-04-infobox" tabindex="-1" role="dialog" aria-labelledby="grails-geostan-04-infobox" class="modal fade"></div>
<div role="document" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">PB GeoStan &sect; Infoboxes</h4>
    </div>
    <div class="modal-body row"><img src="/images/code/grails-geostan-04-infobox.png" alt="PB GeoStan &amp;sect; Infoboxes" class="col-md-9"/>
      <div class="col-md-3">
        <p class="small">2014-01</p>
        <p>Created a grails application to showcase Pitney Bowes' geocoder, GeoStan.</p>
        <p>If a user hovers over any of the points, they can see the result in an info-box.</p>
      </div>
    </div>
  </div>
</div>
<div id="grails-geostan-05-intersection" tabindex="-1" role="dialog" aria-labelledby="grails-geostan-05-intersection" class="modal fade"></div>
<div role="document" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title">PB GeoStan &sect; Intersections</h4>
    </div>
    <div class="modal-body row"><img src="/images/code/grails-geostan-05-intersection.png" alt="PB GeoStan &amp;sect; Intersections" class="col-md-9"/>
      <div class="col-md-3">
        <p class="small">2014-01</p>
        <p>Created a grails application to showcase Pitney Bowes' geocoder, GeoStan.</p>
        <p>There is support for intersections. Here, GeoStan found two possible matches for the user input while Google picked a result for the user. Which result do you think is more correct?</p>
      </div>
    </div>
  </div>
</div>
<div id="grails-geostan-06-multimatch" tabindex="-1" role="dialog" aria-labelledby="grails-geostan-06-multimatch" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">PB GeoStan &sect; Multi-matches</h4>
      </div>
      <div class="modal-body row"><img src="/images/code/grails-geostan-05-intersection.png" alt="PB GeoStan &amp;sect; Multi-matches" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2014-01</p>
          <p>Created a grails application to showcase Pitney Bowes' geocoder, GeoStan.</p>
          <p>Here is a multi-match result. GeoStan found three possible results while Google picked one for the user. Which result do you think is more correct based on what the user put in?</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="grails-geostan-07-drop-pins" tabindex="-1" role="dialog" aria-labelledby="grails-geostan-07-drop-pins" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">PB GeoStan &sect; Drop Pins</h4>
      </div>
      <div class="modal-body row"><img src="/images/code/grails-geostan-07-drop-pins.png" alt="PB GeoStan &amp;sect; Drop Pins" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2014-01</p>
          <p>Created a grails application to showcase Pitney Bowes' geocoder, GeoStan.</p>
          <p>This grails application has support for dropping pins on the map. The user then can click any of the markers to run a reverse geocoder run.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="processing-portrait" tabindex="-1" role="dialog" aria-labelledby="processing-portrait" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Conceptual Self Portrait</h4>
      </div>
      <div class="modal-body row"><a href="http://redwood.colorado.edu/vargasp/dm2/lab1/" alt="Conceptual Self Portrait"><img src="/images/code/processing-portrait.gif" alt="Conceptual Self Portrait" class="col-md-9"/></a>
        <div class="col-md-3">
          <p class="small">2013-09</p>
          <p>Developed an interactive, conceptual self-portrait.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="processing-generative-art" tabindex="-1" role="dialog" aria-labelledby="processing-generative-art" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Generative Art</h4>
      </div>
      <div class="modal-body row"><a href="http://redwood.colorado.edu/vargasp/dm2/proj1/" alt="Generative Art"><img src="/images/code/processing-generative-art.gif" alt="Generative Art" class="col-md-9"/></a>
        <div class="col-md-3">
          <p class="small">2013-10</p>
          <p>Developed an interactive, piece of generative art. The project uses characters the user will type and draw them as a square and color.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="processing-new-life-form" tabindex="-1" role="dialog" aria-labelledby="processing-new-life-form" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Organic Motion</h4>
      </div>
      <div class="modal-body row"><a href="http://redwood.colorado.edu/vargasp/dm2/lab6/" alt="Organic Motion"><img src="/images/code/processing-new-life-form.gif" alt="Organic Motion" class="col-md-9"/></a>
        <div class="col-md-3">
          <p class="small">2013-11</p>
          <p>Developed an animation of a new-life form.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="processing-video" tabindex="-1" role="dialog" aria-labelledby="processing-video" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Acrylic Video</h4>
      </div>
      <div class="modal-body row"><a href="http://redwood.colorado.edu/vargasp/dm2/proj3/" alt="Acrylic Video"><img src="/images/code/processing-video.gif" alt="Acrylic Video" class="col-md-9"/></a>
        <div class="col-md-3">
          <p class="small">2013-12</p>
          <p>For the final project I chose to do some video manipulation. I really like the look acrylic makes when stacked on top of each other, creating another image. Video clips from BBC Motion Gallery.<br><br>I interlaced video clips with stock footage to make a mosaic of interesting images. The main reason for this program was to explore video manipulation. I really enjoyed the bit mashing of the different images and found some really interesting techniques along the way.</p>
        </div>
      </div>
    </div>
  </div>
</div>
