<h2>Code</h2>
<h3>Intern work for Pitney Bowes Software</h3>
<p><span class="badge">grails</span><span class="badge">illustrator</span><span class="badge">groovy</span><span class="badge">java</span><span class="badge">ajax</span><span class="badge">google-maps</span></p>
<p>Implemented a GUI in the form of a Grails Application for Pitney Bowes' geocoder, GeoStan. Utilized the Google-Maps API to display GeoStan output along side Google output.
</p>
<div class="row">
  <div class="col-md-2"><img src="/images/code/thumbs/grails-geostan-01-home.png" ng-click="openModal('code/grails-geostan-01-home.json')" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/grails-geostan-02-hampton.png" ng-click="openModal('code/grails-geostan-02-hampton.json')" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/grails-geostan-03-reverse.png" ng-click="openModal('code/grails-geostan-03-reverse.json')" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/grails-geostan-04-infobox.png" ng-click="openModal('code/grails-geostan-04-infobox.json')" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/grails-geostan-05-intersection.png" ng-click="openModal('code/grails-geostan-05-intersection.json')" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/grails-geostan-06-multimatch.png" ng-click="openModal('code/grails-geostan-06-multimatch.json')" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/grails-geostan-07-drop-pins.png" ng-click="openModal('code/grails-geostan-07-drop-pins.json')" alt="Screenshot of the grails application I built for Pitney Bowes" class="thumbnail"/></div>
</div>
<h3>Class Work</h3>
<h4><a href="http://www.queertionary.com/" target="_blank" rel="nofollow">Queertionary</a></h4>
<p><span class="badge">node.js</span><span class="badge">express.js</span><span class="badge">mongodb</span><span class="badge">less</span><span class="badge">jade</span><span class="badge">javascript</span></p>
<p><b>Technology, Arts and Media Senior Thesis Project</b><br/>Created Rails Application to study the use of Queer Jargon. Utilized APIs, such as UrbanDictionary, Tumblr, Twitter, Wikipedia, and Instagram, to compare and contrast word uses.
</p>
<h4><a href="http://redwood.colorado.edu/vargasp/dm2/" target="_blank" rel="nofollow">Digital Media 2</a></h4>
<p><span class="badge">processing</span><span class="badge">java</span></p>
<p>This class entailed learning the IDE Processing. Based on Java, this language encapsulated the nitty-gritty of the Java programming language, yet allowed for Java objects to be utilized. In addition, this language's main purpose was for fast and easy construction of graphic application.</p>
<div class="row">
  <div class="col-md-2"><img src="/images/code/thumbs/processing-portrait.gif" ng-click="openModal('code/processing-portrait.json')" alt="Gif of my Conceptual Self-Portrait" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/processing-generative-art.gif" ng-click="openModal('code/processing-generative-art.json')" alt="Gif of my Generative Art Project" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/processing-new-life-form.gif" ng-click="openModal('code/processing-new-life-form.json')" alt="Gif of an Animation" class="thumbnail"/></div>
  <div class="col-md-2"><img src="/images/code/thumbs/processing-video.gif" ng-click="openModal('code/processing-video.json')" alt="Gif of my Final Project, Acrylic Video" class="thumbnail"/></div>
</div>
