<div class="container">
  <div class="list-group contact-list">
      <a class="list-group-item" href="http://www.google.com/recaptcha/mailhide/d?k=01cYPU12wBMWbyyGvXLYIo5w==&c=nOp_Iu2kNxiVZAmxNcjrMCk52NW4vkxEJ6MWyxJxy5U=" title="Email Me" rel="nofollow">
        <h2><i class="icon-email icon-lg" aria-hidden="true"></i>Email Me <small>This is the best option</small><i class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></i></h2>
      </a>
      <a class="list-group-item" href="tel:720-515-6402" title="Call Me" rel="nofollow">
        <h2><i class="icon-phone icon-lg" aria-hidden="true"></i>Call Me <small>Please leave me a message</small><i class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></i></h2>
      </a>
      <a class="list-group-item" href="http://www.linkedin.com/pub/patrick-vargas/40/953/893" title="LinkedIn" rel="nofollow">
        <h2><i class="icon-linked icon-lg" aria-hidden="true"></i>Message Me <small>Connect with me on LinkedIn</small><i class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></i></h2>
      </a>
      <a class="list-group-item" href="http://careers.stackoverflow.com/vargasp" title="StackOverflow Careers" rel="nofollow">
        <h2><i class="icon-stack icon-lg" aria-hidden="true"></i>StackOverflow Careers <small>A new, technolgy-focused, professional profile</small><i class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></i></h2>
      </a>
      <a class="list-group-item" href="http://github.com/pevargas" title="GitHub Profile" rel="nofollow">
        <h2><i class="icon-git icon-lg" aria-hidden="true"></i>Explore my Repositories <small>Peruse my GitHub profile</small><i class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></i></h2>
      </a>
  </div>
</div>
