<h2>Design</h2>
  <p>Examples of my design work for various organizations.</p>
<div class="row">
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#dm1-sequential-images"><img src="/images/design/thumbs/dm1-sequential-images.png" alt="Digital Media One Sequential Images" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#fodd-unconventional-typeface"><img src="/images/design/thumbs/fodd-unconventional-typeface.jpg" alt="Fundamentals of Digital Design Unconventional Typeface Moxie" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#postcard-mhfb-freedom-swing-formal-affair"><img src="/images/design/thumbs/postcard-mhfb-freedom-swing-formal-affair.png" alt="Postcard MHFB Freedom Swing Formal Affair" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#business-cards-anonymous"><img src="/images/design/thumbs/business-cards-anonymous.png" alt="Business Card with Anonymous Quote" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#business-cards-zig-ziglar"><img src="/images/design/thumbs/business-cards-zig-ziglar.png" alt="Business Card with Zig Ziglar Quote" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#business-cards-oscar-wilde"><img src="/images/design/thumbs/business-cards-oscar-wilde.png" alt="Business Card with Oscar Wilde Quote" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#business-cards-lucille-ball"><img src="/images/design/thumbs/business-cards-lucille-ball.png" alt="Business Card with Lucille Ball Quote" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#poster-quote-anonymous"><img src="/images/design/thumbs/poster-quote-anonymous.png" alt="Poster Quote Anonymous" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#poster-quote-zigler"><img src="/images/design/thumbs/poster-quote-zigler.png" alt="Poster Quote Zigler" class="thumbnail"/></a></div>
</div>

<!-- Modals -->
<div id="dm1-sequential-images" tabindex="-1" role="dialog" aria-labelledby="dm1-sequential-images" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Digital Media One Sequential Images</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/dm1-sequential-images.png" alt="Digital Media One Sequential Images" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2013-02</p>
          <p>In my Digital Media One course, we learned Photoshop. This project, "Sequential Images", we had to compose a pair of images using at least one image found online, one scanned image and one image we took ourselves.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fodd-unconventional-typeface" tabindex="-1" role="dialog" aria-labelledby="fodd-unconventional-typeface" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Fundamentals of Digital Design Unconventional Typeface Moxie</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/fodd-unconventional-typeface.jpg" alt="Fundamentals of Digital Design Unconventional Typeface Moxie" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2014-02</p>
          <p>Our task was to pick a word and depict it using an physical, unconventional typeface. I chose "Moxie", since you've gotta have moxie in order to win at cards!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="postcard-mhfb-freedom-swing-formal-affair" tabindex="-1" role="dialog" aria-labelledby="postcard-mhfb-freedom-swing-formal-affair" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Postcard MHFB Freedom Swing Formal Affair</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/postcard-mhfb-freedom-swing-formal-affair.png" alt="Postcard MHFB Freedom Swing Formal Affair" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2014-01</p>
          <p>Designed promotional materials for Freedom Swing, the Jazz Band arm of the Mile High Freedom Band. This postcard was used to send to community members to promote the Formal Affair Swing Jazz concert.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="business-cards-anonymous" tabindex="-1" role="dialog" aria-labelledby="business-cards-anonymous" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Business Card with Anonymous Quote</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/business-cards-anonymous.png" alt="Business Card with Anonymous Quote" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2013-04</p>
          <p>Designed business cards in Inkscape. This is one of the alternate backs. This quote is in the style of HTML and reads, "Everything will be okay in the end. If it's not okay, it's not the end" by Anonymous.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="business-cards-zig-ziglar" tabindex="-1" role="dialog" aria-labelledby="business-cards-zig-ziglar" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Business Card with Zig Ziglar Quote</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/business-cards-zig-ziglar.png" alt="Business Card with Zig Ziglar Quote" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2013-04</p>
          <p>Designed business cards in Inkscape. This is one of the alternate backs. This quote is in the style of C++ and reads, "The chief cause of failure and unhappiness is trading what you want most for what you want right now." by Zig Ziglar.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="business-cards-oscar-wilde" tabindex="-1" role="dialog" aria-labelledby="business-cards-oscar-wilde" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Business Card with Oscar Wilde Quote</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/business-cards-oscar-wilde.png" alt="Business Card with Oscar Wilde Quote" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2013-04</p>
          <p>Designed business cards in Inkscape. This is one of the alternate backs. This quote is in the style of the R programming language and reads, "Be yourself; Everyone else is already taken." By Oscar Wilde.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="business-cards-lucille-ball" tabindex="-1" role="dialog" aria-labelledby="business-cards-lucille-ball" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Business Card with Lucille Ball Quote</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/business-cards-lucille-ball.png" alt="Business Card with Lucille Ball Quote" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2013-04</p>
          <p>Designed business cards in Inkscape. This is one of the alternate backs. This quote is in the style of Latex and reads, "I'd rather regret the things I've done than regret the things I haven't done." by Lucille Ball.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="poster-quote-anonymous" tabindex="-1" role="dialog" aria-labelledby="poster-quote-anonymous" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Poster Quote Anonymous</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/poster-quote-anonymous.png" alt="Poster Quote Anonymous" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2013-07</p>
          <p>The poster was a side project while designing my business cards. Poster reads, "Everything will be okay in the end. If it's not okay, it's not the end", by Anonymous.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="poster-quote-zigler" tabindex="-1" role="dialog" aria-labelledby="poster-quote-zigler" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Poster Quote Zigler</h4>
      </div>
      <div class="modal-body row"><img src="/images/design/poster-quote-zigler.png" alt="Poster Quote Zigler" class="col-md-9"/>
        <div class="col-md-3">
          <p class="small">2013-07</p>
          <p>The poster was a side project while designing my business cards. Poster reads, "The chief cause of failure and unhappiness is trading what you want most for what you want right now" by Zig Ziglar.</p>
        </div>
      </div>
    </div>
  </div>
</div>
