<div ng-controller="CarouselCtrl">
  <uib-carousel interval="5000" no-wrap="false" class="carousel">
    <uib-slide ng-repeat="slide in slides" active="slide.active" class="slide" background-src="{{slide.image}}">
      <div class="carousel-caption hero-text">
        <p>{{slide.description}}</p>
        <a class="btn btn-lg btn-primary" ng-href="{{slide.link}}">{{slide.linkText}} <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></a>
      </div>
    </uib-slide>
  </uib-carousel>
</div>

<div class="marketing">
  <section id="stack">
    <div class="container">
      <p class="col-md-8"><span class="lead">Full-Stack Developer</span><br/>Currently, I am in a Software Engineering role which offers much flexibility in the variety of projects I work on. I find I am most happy and productive working in Full-Stack Development.</p>
      <div class="col-md-4"><img ng-src="/images/splash/instagram-vargas-stack-of-books.jpg"/></div>
    </div>
  </section>
  <section class="gaussed" style="background-image: url('/images/splash/instagram-vargas-golden-gate-gaussed.jpg')">
    <div class="container">
      <div class="col-md-4"><img ng-src="/images/splash/instagram-vargas-golden-gate.jpg"/></div>
      <p class="col-md-8"><span class="lead">San Francisco, California</span><br/>Being born and raised in Colorful Colorado has helped shape the person I am today. I am excited for new experiences so I am actively pursuing a career in San Francisco, California.</p>
    </div>
  </section>
  <section id="group">
    <div class="container">
      <p class="col-md-8"><span class="lead">Teamwork Makes the Dream Work</span><br/>As an extrovert, I am most energized working as part of a team. Agile development is right up my alley as it's the entire team's responsibility to release working software.</p>
      <div class="col-md-4"><img ng-src="/images/splash/instagram-vargas-group-sculpture.jpg"/></div>
    </div>
  </section>
  <section class="gaussed" style="background-image: url('/images/splash/instagram-vargas-think-globally-gaussed.jpg')">
    <div class="container">
      <div class="col-md-4"><img ng-src="/images/splash/instagram-vargas-think-globally.jpg"/></div>
      <p class="col-md-8"><span class="lead">Think Globally, Act Locally</span><br/>I'm interested in working for a company on a product who's main focus is helping people through technology.</p>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <p class="col-md-8">If you know of any <strong>Full-Stack Development</strong> careers in the <strong>San Francisco Bay Area</strong>, where I can work as <strong>part of a team</strong> to <strong>help people through technology</strong>, please drop me a line!</p>
      <div class="col-md-4"><img ng-src="/images/splash/instagram-vargas-railroad.jpg"/></div>
    </div>
  </section>
</div>

<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
