<div ng-controller="CarouselCtrl">
  <uib-carousel interval="5000" no-wrap="false" class="carousel">
    <uib-slide ng-repeat="slide in slides" active="slide.active" class="slide" background-src="{{slide.image}}">
      <div class="carousel-caption hero-text">
        <p>{{slide.description}}</p>
        <a class="btn btn-lg btn-primary" ng-href="{{slide.link}}">{{slide.linkText}} <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></a>
      </div>
    </uib-slide>
  </uib-carousel>
</div>

<div class="marketing">
  <section>
    <div class="container">
      <p class="col-md-9"><span class="lead">I'm currently in a Software Engineering role</span>, which offers much flexibility in the variety of projects I work on. I find I am most happy and productive working in <strong>Full-Stack Development</strong>.</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="col-md-9"><span class="lead">Being born and raised in Colorful Colorado</span> has helped shape the person I am today. Yet, I yearn for more and am actively pursuing a career in <strong>San Francisco, California</strong>.</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="col-md-9"><span class="lead">"Teamwork makes the dream work"</span>, and as an extrovert, I'm energized working as <strong>part of a team</strong>.</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="col-md-9"><span class="lead">Living in Boulder, CO,</span> I've definitly adopted the "Think Globally, Act Locally" mantra. As such, I'm interesting in working for a company/product who's main focus is <strong>helping people through technology</strong>.</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="col-md-9">If you know of any <strong>Full-Stack Development</strong> careers in the <strong>San Francisco Bay Area</strong>, where I can work as <strong>part of a team</strong> to <strong>help people through technology</strong>, please drop me a line!</p>
    </div>
  </section>
</div>

<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
