<h2>Music</h2>
<p>I began my college career as a music composition major. Below are a few of my compositions.</p>
<h2>Scoot Trio</h2>
<p>Composed under the direction of <a href="http://www.danielkellogg.com/web/home.aspx" target="_blank" rel="nofollow">Daniel Kellogg</a>, this piece was written for my neighbors in the residence hall. They played cello and violin.</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F26584149&amp;auto_play=false&amp;show_artwork=false&amp;color=00A5C9"></iframe>
<h2>Decisions</h2>
<p>Composed under the direction of <a href="http://www.danielkellogg.com/web/home.aspx" target="_blank" rel="nofollow">Daniel Kellogg</a>, this clarinet solo is meant primarily to challenge players technically rather than a piece to listen to in a concert setting. Dedicated to my sister.</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F26584450&amp;auto_play=false&amp;show_artwork=false&amp;color=00A5C9"></iframe>
<h2>Majyk</h2>
<p>A fugue style woodwind quintet.</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F26585198&amp;auto_play=false&amp;show_artwork=false&amp;color=00A5C9"></iframe>
<h2>Restless Sunburst</h2>
<p style="margin-bottom: 1em;">Inspired by the following poem,<em>Written in March, while resting on the bridge at the foot of Brother's Water.</em> by William Wordsworth.</p>
<p class="col-md-6">THE Cock is crowing,<br/>The stream is flowing,<br/>The small birds twitter,<br/>The lake doth glitter,<br/>The green field sleeps in the sun;<br/>The oldest and youngest<br/>Are at work with the strongest;<br/>The cattle are grazing,<br/>Their heads never raising;<br/>There are forty feeding like one!</p>
<p class="col-md-6">Like an army defeated,<br/>The snow hath retreated,<br/>And now doth fare ill<br/>On the top of the bare hill;<br/>The ploughboy is whooping--anon--anon:<br/>There's joy in the mountains;<br/>There's life in the fountains;<br/>Small clouds are sailing,<br/>Blue sky prevailing;<br/>The rain is over and gone!</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F26584705&amp;auto_play=false&amp;show_artwork=false&amp;color=00A5C9"></iframe>
<h2>GarageBand Music</h2>
<p>As a Mac user, I've fiddled around with the GarageBand application. Using the loops was fun and easy, since I composed all my other compositions using Finale. Below are a couple of the songs I created in GarageBand. Also, find my profile on <a href="http://www.last.fm/music/Patrick+Vargas/En+la+Cocina" target="_blank" rel="nofollow">last.fm</a> and <a href="http://soundcloud.com/vargasp">soundcloud</a>.</p>
<h3>Savory</h3>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F138462828&amp;auto_play=false&amp;show_artwork=true&amp;color=00A5C9"></iframe>
<h3>Sweet</h3>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F138462838&amp;auto_play=false&amp;show_artwork=true&amp;color=00A5C9"></iframe>
