<h2>Photography</h2>
<p>I'm an amateur shutterbug when it comes to photogrpahy. Recently, I learned how to use Adobe's Lightroom and fixed up some of my past photos.</p>
<div class="row">
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-1"><img src="/images/photography/thumbs/to-behance-1.jpg" alt="Victoria Island, British Columbia" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-2"><img src="/images/photography/thumbs/to-behance-2.jpg" alt="Vancouver, Biritsh Columbia" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-3"><img src="/images/photography/thumbs/to-behance-3.jpg" alt="Idaho" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-4"><img src="/images/photography/thumbs/to-behance-4.jpg" alt="Elitch Gardens, Denver, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-5"><img src="/images/photography/thumbs/to-behance-5.jpg" alt="Elitch Gardens, Denver, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-6"><img src="/images/photography/thumbs/to-behance-6.jpg" alt="Cash Register Building, Denver, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-7"><img src="/images/photography/thumbs/to-behance-7.jpg" alt="Manitou Springs, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-8"><img src="/images/photography/thumbs/to-behance-8.jpg" alt="YMCA of the Rockies, Estes Park, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-9"><img src="/images/photography/thumbs/to-behance-9.jpg" alt="YMCA of the Rockies, Estes Park, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-10"><img src="/images/photography/thumbs/to-behance-10.jpg" alt="Vermont" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-11"><img src="/images/photography/thumbs/to-behance-11.jpg" alt="Lake Champlain, Vermont" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-12"><img src="/images/photography/thumbs/to-behance-12.jpg" alt="Montréal, Québec" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-13"><img src="/images/photography/thumbs/to-behance-13.jpg" alt="Colorado National Monument, Grand Junction, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-14"><img src="/images/photography/thumbs/to-behance-14.jpg" alt="Moab, Utah" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-15"><img src="/images/photography/thumbs/to-behance-15.jpg" alt="I See What You Mean, Denver, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-16"><img src="/images/photography/thumbs/to-behance-16.jpg" alt="Kansas" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-17"><img src="/images/photography/thumbs/to-behance-17.jpg" alt="Flatirons, Boulder, Colorado" class="thumbnail"/></a></div>
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#to-behance-18"><img src="/images/photography/thumbs/to-behance-18.jpg" alt="University of Colorado, Boulder, Colorado" class="thumbnail"/></a></div>
</div>

<div id="to-behance-1" tabindex="-1" role="dialog" aria-labelledby="to-behance-1" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Victoria Island, British Columbia</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-1.jpg" alt="Victoria Island, British Columbia" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-2" tabindex="-1" role="dialog" aria-labelledby="to-behance-2" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Vancouver, Biritsh Columbia</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-2.jpg" alt="Vancouver, Biritsh Columbia" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-3" tabindex="-1" role="dialog" aria-labelledby="to-behance-3" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Idaho</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-3.jpg" alt="Idaho" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-4" tabindex="-1" role="dialog" aria-labelledby="to-behance-4" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Elitch Gardens, Denver, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-4.jpg" alt="Elitch Gardens, Denver, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-5" tabindex="-1" role="dialog" aria-labelledby="to-behance-5" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Elitch Gardens, Denver, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-5.jpg" alt="Elitch Gardens, Denver, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-6" tabindex="-1" role="dialog" aria-labelledby="to-behance-6" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Cash Register Building, Denver, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-6.jpg" alt="Cash Register Building, Denver, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-7" tabindex="-1" role="dialog" aria-labelledby="to-behance-7" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Manitou Springs, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-7.jpg" alt="Manitou Springs, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-8" tabindex="-1" role="dialog" aria-labelledby="to-behance-8" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">YMCA of the Rockies, Estes Park, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-8.jpg" alt="YMCA of the Rockies, Estes Park, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-9" tabindex="-1" role="dialog" aria-labelledby="to-behance-9" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">YMCA of the Rockies, Estes Park, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-9.jpg" alt="YMCA of the Rockies, Estes Park, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-10" tabindex="-1" role="dialog" aria-labelledby="to-behance-10" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Vermont</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-10.jpg" alt="Vermont" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-11" tabindex="-1" role="dialog" aria-labelledby="to-behance-11" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Lake Champlain, Vermont</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-11.jpg" alt="Lake Champlain, Vermont" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-12" tabindex="-1" role="dialog" aria-labelledby="to-behance-12" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Montréal, Québec</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-12.jpg" alt="Montréal, Québec" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-13" tabindex="-1" role="dialog" aria-labelledby="to-behance-13" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Colorado National Monument, Grand Junction, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-13.jpg" alt="Colorado National Monument, Grand Junction, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-14" tabindex="-1" role="dialog" aria-labelledby="to-behance-14" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Moab, Utah</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-14.jpg" alt="Moab, Utah" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-15" tabindex="-1" role="dialog" aria-labelledby="to-behance-15" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">I See What You Mean, Denver, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-15.jpg" alt="I See What You Mean, Denver, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-16" tabindex="-1" role="dialog" aria-labelledby="to-behance-16" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Kansas</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-16.jpg" alt="Kansas" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-17" tabindex="-1" role="dialog" aria-labelledby="to-behance-17" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Flatirons, Boulder, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-17.jpg" alt="Flatirons, Boulder, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
<div id="to-behance-18" tabindex="-1" role="dialog" aria-labelledby="to-behance-18" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">University of Colorado, Boulder, Colorado</h4>
      </div>
      <div class="modal-body row"><img src="/images/photography/to-behance-18.jpg" alt="University of Colorado, Boulder, Colorado" class="col-md-12"/></div>
    </div>
  </div>
</div>
