<div class="container resume">
  <h2>Resume</h2>
  <p><a href="/data/vargas-resume-spring-2016.pdf">Download a PDF version</a></p>
  <section>
    <h3>Skills</h3>
    <h4>Internet Technologies</h4>
    <p>Grails, Angular, JavaScript, HTML5, Jade, CSS3, SASS, Less, Bootstrap, Node</p>
    <h4>Programming Languages</h4>
    <p>Groovy, Java, Processing, C/C++</p>
    <h4>Tools and Utilities</h4>
    <p>AWS, Jenkins, Git, GitHub, Atom, Yeoman, Bower, Grunt, MongoDB, Mongoose, PostgreSQL, IntelliJ, SVN, Sublime</p>
    <h4>Miscellaneous</h4>
    <p>Agile Software Development, Interpersonal Skills, Graphic Design, Slack, JIRA</p>
  </section>
  <section>
    <h3>Experience</h3>
    <h4>Software Engineer, Pitney Bowes Software <small>Boulder, CO</small></h4>
    <span class="dates">June 2014 &ndash; Present</span>
    <ul>
      <li>Implemented a status reporting website for stakeholders utilizing the Jenkins API.</li>
      <li>Built and automated a SQL testing framework for our data production pipeline.</li>
      <li>Setup a Continuous Integration server, using Jenkins, for our project space.</li>
      <li>Volunteered as Documentation Lead and Scrum Master to streamline efficiency of day-to-day team minutia.</li>
      <li>Created a per-revision, performance-testing and reporting system for a high-profile project.</li>
    </ul>
    <h4>Software Engineering Intern, Pitney Bowes Software <small>Boulder, CO</small></h4>
    <span class="dates">May 2013 &ndash; May 2014</span>
    <ul>
      <li>Improved performance of Geocoding software 10% by implementing Microsoft's Profile-Guided Optimization.</li>
      <li>Adapted the CPPUnit test-suite for Unix platforms, applying more thorough and rigorous software preparation.</li>
      <li>Researched the impact of byte order swapping on Big Endian machines.</li>
      <li>Automated script testing by creating an output parser employing pipes.</li>
    </ul>
  </section>
  <section>
    <h3>Projects</h3>
    <h4>Portfolio Website [v5]</h4>
    <span class="dates">Jun 2015 &ndash; Present</span>
    <ul>
      <li><a href="http://www.yesthisispatrick.com">www.yesthisispatrick.com</a></li>
      <li>Implemented a portfolio website with low maintenance and easy updatability.</li>
      <li>Incorporated well-maintained libraries and packages for quick uptime.</li>
      <li>Utilized Angular.js and AWS S3 for high functionality, quick processing while cost-effective.</li>
    </ul>
    <h4>Geocoding Data Report</h4>
    <span class="dates">Feb 2015 &ndash; Present</span>
    <ul>
      <li>Presented product managers and other stakeholders with the most important, up-to-date product production status in an easily consumable website.</li>
      <li>Automatically collected and intelligently predicted quarterly production plans for efficient and minimal quarterly planning meetings.</li>
      <li>Provided automated, up-to-date, detailed information concerning specific product information for use by customer service representatives and engineers.</li>
    </ul>
    <h4>GeoStan Application</h4>
    <span class="dates">Jan 2014 &ndash; Feb 2014</span>
    <ul>
      <li>Implemented a GUI in the form of a Grails Application for GeoStan.</li>
      <li>Utilized the Google-Maps API to display GeoStan output along side Google output.</li>
    </ul>
    <h4>Queertionary</h4>
    <span class="dates">Jan 2014 &ndash; May 2014</span>
    <ul>
      <li><a href="http://www.queerytionary.com/" rel="nofollow">www.queertionary.com</a></li>
      <li>Technology, Arts &amp; Media Senior Thesis Project.</li>
      <li>Created Node.js Application to study the use of Queer Jargon.</li>
      <li>Utilized APIs, such as UrbanDictionary, Tumblr, and Flickr, to compare and contrast word usages.</li>
    </ul>
  </section>
  <section>
    <h3>Education</h3>
    <h4>University of Colorado Boulder <small>Boulder, CO</small></h4>
    <span class="dates">Aug 2009 &ndash; May 2014</span>
    <p>Bachelor of Science, Computer Science, 3.35 GPA</p>
    <ul>
      <li>Atmospheric and Oceanic Science Minor</li>
      <li>Technology, Arts and Media Minor (Graduated with Honors)</li>
      <li>Dean's List, Spring 2014 and Spring 2013, College of Engineering and Applied Science</li>
      <li>Dean's List, Spring 2011, College of Arts and Science</li>
    </ul>
  </section>
  <section>
    <h3>Involvements and Leadership</h3>
    <ul>
      <li>Instrumental Music <span class="dates-inline">Fall 2012 &ndash; present</span></li>
      <li>"Ask Me Anything" Volunteer <span class="dates-inline">Fall 2012 &ndash; Spring 2013</span></li>
      <li>Active Member of Knitting Group <span class="dates-inline">Spring 2012 &ndash; Fall 2013</span></li>
      <li>Vice President &amp; Secretary for Engineering Student Group <span class="dates-inline">Fall 2011 &ndash; Spring 2012</span></li>
      <li>Secretary for Student Advisory Board to Student Resource Center <span class="dates-inline">Spring 2010 &ndash; Fall 2012</span></li>
      <li>Volunteer for Student Resource Center <span class="dates-inline">Spring 2010 &ndash; Spring 2011</span></li>
    </ul>
  </section>
</div>
